@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  src:
    url('files/e-ukrainehead-regular_w.woff2') format('woff2'),
    url('files/e-ukrainehead-regular_w.woff') format('woff');
  display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  src:
    url('files/e-ukraine-regular_w.woff2') format('woff2'),
    url('files/e-ukrainehead-regular_w.woff') format('woff');
  display: swap;
}
